{% extends 'base.html' %}
{% load static %}
{% block content %}
<body>
    <h1>Welcome To The Dev Site</h1>
    <h2>~things are different here~</h2>
    Hello! Please feel free to poke around here and explore, but be warned that this site is under construction at all times.
    <br><br>
    What this means is that there will be (ARE!) broken pieces of each application. I'm using this project to practice full-stack web design with Django, and (hey presto!) it's not an entirely straightforward process.
    <br><br>
    So why, I hear you ask, am I implementing Tech Debt As A Feature (TDAAF)? Simple: because bug tracking and resolution are part of the process too. Too many ideas, too little time. Can't implement everything perfectly or cleanly on the first go-round, and this is primarily an educational effort.
    In future, when the site formally launches, this will not be the case
    <br><br>
    But for now, in the words of the great William Smith, "It's the Wild Wild West. Jim West, Desperado, Rough Rider, no you don't want nada, brother running this, six-gunning this" &c. &c.
    <br><br>
    The goal right now is not to leave pages or links absolutely broken. If you come across something that isn't working, please report it in the repo using the <a href="https://github.com/DrewRoby/roby_data_portal/issues" target="_blank" rel="noopener noreferrer">Bug Report</a> link (message me for repo access, andrew at ~thisdomain~ dot com)
    <br><br>
    Current known bugs:
    <table>
  <caption>
    Note: Not all of these are in the bugtracker and vice-versa
  </caption>
  <thead>
    <tr>
      <th scope="col">Application</th>
      <th scope="col">Issue</th>
      <th scope="col">Reported By</th>
      <th scope="col">Criticality</th>
      <th scope="col">Date Opened</th>
      <th scope="col">Date Resolved</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Storycraft</th>
      <td>Share tag breaking story_detail.html</td>
      <td>Roby</td>
      <td>High</td>
      <td>20250521</td>
      <td>20250522</td>
    </tr>
    <tr>
      <th scope="row">Milo</th>
      <td>"Export to..." button does not work in reporting</td>
      <td>Roby</td>
      <td>Low</td>
      <td>20250516</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">Storycraft/th>
      <td>Vue components not functional</td>
      <td>Roby</td>
      <td>Medium</td>
      <td>20250507</td>
    </tr>
    <tr>
      <th scope="row">Storycraft</th>
      <td>Remove or refactor non-functional "application header" code</td>
      <td>Roby</td>
      <td>Medium</td>
      <td>20250507</td>
      <td></td>
    </tr>
  </tbody>
</table>

</body>
{% endblock %}